.filterBlockContainer {
  height: fit-content;

  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .filterElement {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
