@import "styles/colors.module.scss";

.buttonComponent {
  outline: none;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
  background-color: $white;
  border: 1px solid $white;
  padding: 10px 20px;
  transition-duration: 0.3s;
  &.primary {
    color: $primary;
    border-color: $black60op;

    &.active {
      background-color: $primary;
      border-color: $primary;
      color: $white;
    }
    &:hover:not(.active) {
      border-color: $primary;
      background-color: $primary30;
    }
  }
  &.secondary {
    color: $secondary;
    &.active {
      background-color: $secondary;
      border-color: $secondary;
      color: $white;
    }
  }
}
